{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %} | BazaarBuddy</title>
    <link rel="stylesheet" href="{% static 'images/app.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'core:index' %}">Products</a> |
        <a href="{% url 'core:create_product' %}">Post Product</a> |
        <a href="{% url 'core:my_posted_products' %}">My Products</a> |
    </nav>
    {% block content %}
    {%  endblock %}
</body>
</html>
