{% extends 'core/base.html' %}

{% block title %}My Posted Products{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        {% for product in products %}
        <div class="col">
            <div class="card shadow-sm border-light rounded">
                <div class="position-relative">
                    <a href="{% url 'core:product_detail' product.id %}" class="h5 text-primary stretched-link" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;"></a>
                    <img src="{{ product.image_url }}" alt="{{ product.title }}" class="card-img-top" style="height: 250px; object-fit: cover;">
                </div>
                <div class="card-body">
                    <p class="h5 text-primary">{{ product.title }}</p>
                    <p class="card-text text-muted">{{ product.price }} €</p>
                    <p class="card-text text-sm text-muted">Status: {{ product.get_state_display }}</p>

                    <div class="btn-group mt-3" role="group">
                        <a href="{% url 'core:edit_product' product.id %}" class="btn btn-warning btn-sm me-2">Edit</a>
                        <a href="{% url 'core:delete_product' product.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p class="text-center text-muted">No products found...</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
