{% extends 'core/base.html' %}

{% block title %}Product Details{% endblock %}

{% block content %}
<div>
    <h1>{{ product.title }}</h1>
    <img src="{{ product.image_url }}" style="width: 250px;">
    <p><strong>Description:</strong> {{ product.description }}</p>
    <p><strong>Category:</strong> {{ product.category }}</p>
    <p><strong>Condition:</strong> {{ product.condition }}</p>
    <p><strong>Grade:</strong> {{ product.grade }}</p>
    <p><strong>Price:</strong> ${{ product.price }}</p>
    <p><strong>Created At:</strong> {{ product.date_created }}</p>
    <p><strong>Updated At:</strong> {{ product.date_updated }}</p>
    <p><strong>Id:</strong> {{ product.id }}</p>
    {% if request.user != product.user %}
        <a href="{% url 'messenger:new_chat' product.id %}">Contact seller</a>
    {% endif %}

    <p>Average Rating: {{ average_rating|floatformat:2 }} / 5</p>
    {% if not user_has_rated %}
    <p>Rate this product:</p>
    <form method="POST">
      {% csrf_token %}
      <div class="rating-numbers">
        <button type="submit" name="grade" value="1">1</button>
        <button type="submit" name="grade" value="2">2</button>
        <button type="submit" name="grade" value="3">3</button>
        <button type="submit" name="grade" value="4">4</button>
        <button type="submit" name="grade" value="5">5</button>
      </div>
    </form>
  {% else %}
        <p>You have already rated this product: {{ user_rating.grade }}</p>
        <form method="POST" action="{% url 'core:remove_rating' product.id %}">
            {% csrf_token %}
            <button type="submit">Remove Rating</button>
        </form>
  {% endif %}
</div>
{% endblock %}