{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'accounts/profile.css' %}">
</head>
<body>

  <div class="dashboard-container">
    <h1>Profile information</h1>

    <form method="POST">
      {% csrf_token %}
      <h3>Edit profile</h3>
      {{ user_form.as_p }}
      <button type="submit" name="edit_profile">Save</button>
    </form>

    <hr>

    <form method="POST">
      {% csrf_token %}
      <h3>Change password</h3>
      {{ password_form.as_p }}
      <button type="submit" name="change_password">Change</button>
    </form>

    <hr>

    <form method="POST">
      {% csrf_token %}
      <div class="buttons-container">
        <button type="submit" name="logout" class="delete-btn">Logout</button>
        <button type="submit" name="delete_profile" class="delete-btn">Delete profile</button>
      </div>
    </form>

    <div class="profile-info">
      <p><strong>Username:</strong> {{ user.username }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>First Name:</strong> {{ user.first_name }}</p>
      <p><strong>Last Name:</strong> {{ user.last_name }}</p>
      <p><strong>User Type:</strong> {{ user.profile.get_user_type_display }}</p>
    </div>
  </div>

</body>
</html>
