{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbox</title>
    <link rel="stylesheet" href="{% static "messenger/inbox.css" %}">
</head>
<body>
    <div class="chats">
        {% for chat in chats %}
            <a href="{% url 'messenger:detail' chat.id %}">
                <div>
                    <div>
                        {% if chat.product.image_url %}
                            <img src="{{ chat.product.image_url }}" alt="Product Image">
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                    </div>
    
                    <div>
                        {% for member in chat.members.all %}
                            {% if member != request.user %}
                                <p><strong>{{ member.username }}</strong> | {{ chat.modified_at }}</p>
                                <p>{{ chat.product.title }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    
</body>
</html>
